:root {
  --lightgrey: #67778f;
  --grey: #4d596b;
  --darkergrey: #3e4857;
  --darkestgrey: #282f38;
  --red: #e02209;
  --orange: #eb8e23;
  --white: #EEE;
}

* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--grey);
  min-height: 100vh;
  flex-direction: column;
}

/*To Do List title*/
#mainTitle { 
  padding-top: 2.5rem;
  color: var(--lightgrey);
}

#taskForm {
  display: flex;
}

/*Btn input design*/
input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

/*New task input box*/
#newTaskInput {
  flex: 0.75; /*Stretches input box*/
  background-color: var(--darkergrey); 
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
}

#newTaskInput::placeholder {
  color: var(--lightgrey); /*Place holder text color*/
}

/*Task submit btn design */
#newTaskSubmit {
  background-image: linear-gradient(to right, var(--red), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  font-weight: 600;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

#newTaskSubmit:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

#newTaskSubmit:active {
  opacity: 0.5;
}

.taskList {
  padding-right: 1rem;
  padding-top: 1rem;
}

/*Task List heading*/
#taskHeading {
  padding-top: 1rem;
  color: var(--lightgrey);
  font-size: 1.50rem;
}

#tasks {
  display: flex; /*Stretches task list box*/
  justify-content: space-between;
  background-color: var(--darkestgrey);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .taskContent {
  flex: 1 1 0%;
}

/*Task text design*/
.taskContent .text {
  color: var(--light);
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  display: block;
  transition: .5s;
}

.task .content .text:not(:read-only) {
  color: var(--orange);
}

.commands {
  display: flex;
  margin: 0 -.5rem;
}

.commands button {
  margin: 0 .5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
}

.commands button:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.commands button:active {
  opacity: 0.5;
}

.commands button:focus {
  outline: none;
}

.editTask {
  color: var(--orange);
}

.deleteTask {
  color: var(--red);
}