:root {
  --lightgrey: #67778f;
  --grey: #4d596b;
  --darkergrey: #3e4857;
}

* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--grey);
  min-height: 100vh;
  flex-direction: column;
}

/*To Do List title*/
#mainTitle { 
  padding-top: 2.5rem;
  color: var(--lightgrey);
}

#taskForm {
  display: flex;
}

/*Btn input design*/
input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

/*New task input box*/
#newTaskInput {
  flex: 1; /*Stretches input box*/
  background-color: var(--darkergrey); 
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--lightgrey);
  font-size: 14px;
}

#newTaskInput::placeholder {
  color: var(--lightgrey); /*Place holder text color*/
}

/*Task List heading*/
#taskHeading {
  color: var(--lightgrey);
}
