@page "/"

<div class="header">
    <h1 id="mainTitle">To Do List</h1>
    <form id="taskForm">
        <input type="text" name="newTaskInput" id="newTaskInput" placeholder="What are your plans?"/>
        <input type="submit" id="newTaskSubmit" value="Add task"/>       
    </form>
</div>

<section class="taskList">
    <h2 id="taskHeading">Current Tasks</h2>
    <div id="tasks">
        <div class="task">
            <div class="taskContent">
                <input type="text" class="text" value="A new task..." readonly>    
            </div>
        </div>
        <div class="commands">
            <button class="editTask">Edit</button>
            <button class="deleteTask">Delete</button>
        </div>
    </div>
</section>
